.dashboard {
  width: 100vw;
  height: 100vh;
}

.heading {
  width: 100vw;
  height: 80px;
  /* border: 1px solid blue; */
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  display: flex;
  align-items: center;
  background-color: #f8fafb;
  width: 400px;
  height: 51px;
  margin-left: 20vw;
  border-radius: 20px;
}

.input > svg {
  z-index: 10;
  margin: 0.5rem;
  position: relative;
}

.search {
  width: 400px;
  height: 51px;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  color: #cecece;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f8fafb;
}

.right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
}

.date-box {
  border: 1px solid #a0a3bd;
  width: 175px;
  height: 54px;
  border-radius: 10px;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-box > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-right: 0.5rem;
  color: #313145;
}

.user-details {
  border: 1px solid #a0a3bd;
  width: 250px;
  height: 54px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-details > img {
  height: 35px;
  width: 35px;
}

.user-details > div > p {
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #373b5c;
}

.user-details > div > h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  color: #373b5c;
}

.sidebar {
  width: 15vw;
  height: 100vh;
  /* border: 1px solid blue; */
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 200px;
  height: 55px;
  border-radius: 10px;
  padding-left: 10px;
}

.option > svg {
  font-size: 24px;
  font-weight: 400;
  color: #53545c;
}

.option > p {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  color: #53545c;
}

.active {
  background-color: #7950f2;
}

.active > svg,
.active > p {
  color: white !important;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5rem 1rem;
  margin: 2rem;
  background-color: #e8e9ff;
}

.contact>svg {
  font-size: 24px;
  margin: 0.5rem;
}

.main {
  display: flex;
}

.main-content {
  width: 85vw;
  height: 100vh;
  background-color: #f8fafb;
}
